@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");
* { box-sizing: border-box; margin: 0; }

body { margin: 0 auto; padding: 0; font-family: "Quicksand", "Montserrat", "Merriweather", "Arial", sans-serif; display: -ms-flexbox; display: flex; background-color: #2A424C; }

.container { max-width: 95vw; }

.content-container { background-image: url("../images/home.jpg"); opacity: .5; background-repeat: no-repeat; background-position: center; background-size: cover; width: 100vw; margin: 0 auto; border: 5px solid #394A57; border-radius: 5px; }

.content-box { box-shadow: 0 0 20px black; border-radius: 5px; }

.start, .about, .contact, .portfolio, .skills { padding-top: 30px; }

nav { padding-left: 30px; padding-right: 30px; }

.navigation-user-img { width: 100%; padding: 5px; opacity: 0.5; vertical-align: middle; }

.navigation-img-box { border: 5px solid #394A57; }

.navigation-img-container { border-bottom: 1px solid #22303e; }

.fas { color: #879599; transition: 0.3s all linear; }

.navigation-container { background-color: #2A424C; box-shadow: 0 0 20px black; margin-top: 30px; z-index: 2; }

.navigation-img-container { padding: 15px 5px; border-top: 1px solid #3a4a5d; }

.navigation-user-social { display: -ms-flexbox; display: flex; border-bottom: 1px solid #22303e; padding-left: 0; -ms-flex-pack: center; justify-content: center; }

.navigation-social-link { list-style-type: none; }

.navigation-social-btn { width: 40px; height: 40px; background-color: #2A424C; color: white; font-size: 16px; border-bottom: none; border-top: none; border-left: 1px solid #3a4a5d; border-right: 1px solid #22303e; }

.navigation-social-facebook { border-left: 1px solid #22303e; }

.navigation-social-github { border-right: 1px solid #3a4a5d; }

.menu-button-input[type='checkbox'] + label { font-size: 35px; cursor: pointer; }

.menu-button-input, .menu-button-label { display: none; color: #879599; }

.menu { padding-left: 0; }

.menu-icon-btn { height: 30px; width: 30px; border-radius: 50px; border: none; background-color: #282829; margin-right: 5px; transition: 0.3s all ease-in-out; }

.menu-item { list-style-type: none; padding: 10px 0 10px 15px; vertical-align: middle; border-top: 1px solid #3a4a5d; border-bottom: 1px solid #22303e; }

.menu-item:hover .menu-icon-btn { background-color: #0B93FF; }

.menu-item:hover .menu-icon-btn .fas { color: white; }

.menu-item a { text-decoration: none; color: #879599; font-size: 16px; font-weight: 400; text-transform: uppercase; letter-spacing: 0.7px; transition: 0.3s all linear; font-weight: bold; width: 100%; }

.menu-item a:hover { color: white; }

/* The side navigation menu */
.sidenav { height: 100%; /* 100% Full-height */ width: 0; /* 0 width - change this with JavaScript */ position: fixed; /* Stay in place */ z-index: 1; /* Stay on top */ top: 0; /* Stay at the top */ left: 0; background-color: transparent; overflow-x: hidden; /* Disable horizontal scroll */ transition: 0.5s; }

/* The navigation menu links */
/* When you mouse over the navigation links, change their color */
/* Position and style the close button (top right corner) */
.sidenav .closebtn { position: absolute; top: 0; right: 25px; font-size: 36px; margin-left: 50px; }

.side-menu-switch { height: 20px; display: -ms-flexbox; display: flex; }

.body-container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) { .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; } }

.start-header-one, .start-header-two, .start-header-three { font-size: 50px; }

.start-paragraph { font-size: 26px; font-weight: 600; text-shadow: 0 0 2px black; }

.skills { height: 90vh; }

.skills-container { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto auto auto auto; grid-template-columns: auto auto auto auto auto auto; grid-gap: 5px 5px; height: 73vh; }

.skills-img { height: 83px; width: 83px; background-position: center; background-size: contain; background-repeat: no-repeat; opacity: 0.6; margin: auto; transition: 0.5s all linear; }

.skills-img:hover { transform: scale(1.1); opacity: 1; }

.html-img { background-image: url("../images/html-5.svg"); }

.css-img { background-image: url("../images/css-3.svg"); }

.rwd-img { background-image: url("../images/rwd.png"); }

.js-img { background-image: url("../images/js.svg"); }

.jquery-img { background-image: url("../images/jquery.svg"); }

.sass-img { background-image: url("../images/sass.png"); }

.bootstrap-img { background-image: url("../images/bootstrap.png"); }

.bulma-img { background-image: url("../images/bulma.svg"); }

.ajax-img { background-image: url("../images/ajax.png"); }

.nodejs-img { background-image: url("../images/nodejs.png"); }

.express-img { background-image: url("../images/express.png"); }

.react-img { background-image: url("../images/react.png"); }

.redux-img { background-image: url("../images/redux.png"); }

.webpack-img { background-image: url("../images/webpack.png"); }

.git-img { background-image: url("../images/git.png"); }

.npm-img { background-image: url("../images/npm.png"); }

.babel-img { background-image: url("../images/babel.png"); }

.mongo-img { background-image: url("../images/mongo.png"); }

.portfolio { height: 90vh; }

.portfolio-container { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto; grid-template-columns: auto auto auto; grid-gap: 40px; }

.portfolio-item { background-image: url("../images/awax.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center; padding: 40%; opacity: 0.6; box-shadow: 0 0 15px black; border-radius: 7px; transition: 0.4s all linear; }

.portfolio-item:hover { opacity: 1; transform: scale(1.05); box-shadow: 0 0 30px black; }

.portfolio-item-1 { background-image: url("../images/awax.jpg"); }

.portfolio-item-2 { background-image: url("../images/golden.jpg"); }

.contact { height: 90vh; }

.about { height: 90vh; }

@media all and (max-width: 750px) { .container { padding: 0 15px; }
  .menu { display: none; padding-left: 0; padding-right: 0; }
  .navigation-container { padding-top: 5px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: justify; justify-content: space-between; }
  .navigation { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; margin: auto; }
  .menu-container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 100%; }
  .menu-button-label { display: block; margin: 0 auto; padding: 3px 15px; color: #282829; margin-right: 5px; }
  .menu-button-input:not(:checked) ~ ul { display: none; }
  .menu-button-input:checked ~ ul { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .menu-item { background-color: rgba(0, 0, 0, 0.6); display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 100%; line-height: 44px; margin: auto; padding-left: 0; -ms-flex-align: center; align-items: center; } }

@media all and (max-width: 450px) { .skills-container { -ms-grid-columns: auto auto; grid-template-columns: auto auto; }
  .portfolio-container { -ms-grid-columns: auto; grid-template-columns: auto; } }
/*# sourceMappingURL=main.css.map */