@import "../variables/colors";
@import "../variables/typography";
@import "../elements/buttons";
@import "../elements/typo";

* {
  box-sizing: border-box;
  //border: 0.1px solid red;
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: $quicksand;
  display: flex;
  background-color: $steel;
}

.container {
  //width: 95%;
  max-width: 95vw;
  //margin: 0 auto;
}

.content-container {
  background-image: url('../images/home.jpg');
  opacity: .5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  // height: 92vh;
  margin: 0 auto;
  //padding-top: 30px;
  // box-shadow: 0 0 35px $black;
  border: 5px solid $light-steel;
  border-radius: 5px;
}

.content-box {
  box-shadow: 0 0 20px $black;
  border-radius: 5px;
}

.start,
.about,
.contact,
.portfolio,
.skills {
  padding-top: 30px;
  // padding-right: 30px;
  // padding-bottom: 30px;
}