// Sass variables

$black: black;
$white: white;
$lightgrey: #879599;
$linkedin: #0873ac;
$facebook: #2e5990;
$darkgrey: #282829;
$border-light: #3a4a5d;
$border-dark: #22303e;
$steel: #2A424C;
$dark-steel: #2c3e50;
$light-steel: #394A57;
$blue: #0B93FF;
