@import url("https://fonts.googleapis.com/css?family=Euphoria+Script|Montserrat|PT+Sans|Quicksand|Merriweather|Roboto+Slab");

$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 26px;
$font-size-xl: 50px;
$font-size-xxl: 75px;

$montserrat: "Montserrat", "Merriweather", "Arial", sans-serif;
$roboto: "Roboto Slab", "Merriweather", "Arial", sans-serif;
$merriweather: "Merriweather", "Euphoria Script", "Arial", sans-serif;
$euphoria: "Euphoria Script", "Montserrat", "Merriweather", sans-serif;
$quicksand: "Quicksand", "Montserrat", "Merriweather", "Arial", sans-serif;