@import "../variables/colors";
@import "../variables/typography";
@import "../elements/buttons";
@import "../elements/typo";

//====================================================================================
// RWD
//====================================================================================

//====================================================================================

// Max 750px

@media all and (max-width: 750px) {
  .container {
    padding: 0 15px;
  }

  .menu {
    display: none;
    padding-left: 0;
    padding-right: 0;
  }

  .navigation-container {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .menu-button-label {
    display: block;
    margin: 0 auto;
    padding: 3px 15px;
    color: $darkgrey;
    margin-right: 5px;
    //margin-top: -40px;
  }

  .menu-button-input:not(:checked) ~ ul {
    display: none;
  }

  .menu-button-input:checked ~ ul {
    display: flex;
    flex-direction: column;
  }

  .menu-item {
    background-color: rgba($black, 0.6);
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 44px;
    margin: auto;
    padding-left: 0;
    align-items: center;
  }
}

//====================================================================================
//Max 500px

// @media all and (max-width: 500px) {
//   .skills-container {
//     grid-template-columns: auto auto;
//   }

//   .portfolio-container {
//     grid-template-columns: auto;
//   }
// }

//====================================================================================

// Max 450px

@media all and (max-width: 450px) {
  .skills-container {
    grid-template-columns: auto auto;
  }

  .portfolio-container {
    grid-template-columns: auto;
  }
}