// Navigation section

@import '../variables/colors';
@import '../variables/typography';
@import '../elements/buttons';

nav {
    padding-left: 30px;
    padding-right: 30px;
}

.navigation-user-img {
    width: 100%;
    padding: 5px;
    opacity: 0.5;
    vertical-align: middle;
}

.navigation-img-box {
    border: 5px solid $light-steel;
}

.navigation-img-container {
    border-bottom: 1px solid $border-dark;
}

.fas {
    color: $lightgrey;
    transition: 0.3s all linear;
}

// .navigation {
//     width: 20%;
//     background-color: transparent;
//     z-index: 999;
//     transition: 0.3s all linear;
// }

.navigation-container {
    background-color: $steel;
    box-shadow: 0 0 20px $black;
    margin-top: 30px;
    z-index: 2;
}

.navigation-img-container {
    padding: 15px 5px;
    border-top: 1px solid $border-light;
}

.navigation-user-social {
    display: flex;
    border-bottom: 1px solid $border-dark;
    padding-left: 0;
    justify-content: center;
}

.navigation-social-link {
    list-style-type: none;
}

.navigation-social-btn {
    width: 40px;
    height: 40px;
    background-color: $steel;
    color: $white;
    font-size: $font-size-s;
    border-bottom: none;
    border-top: none;
    border-left: 1px solid $border-light;
    border-right: 1px solid $border-dark;
}

.navigation-social-facebook {
    border-left: 1px solid $border-dark;
}

.navigation-social-github {
    border-right: 1px solid $border-light;
}

// .menu-container {
//     display: flex;
//     width: 100%;
//     justify-content: space-between;
// }

// Hamburger menu

.menu-button-input[type='checkbox'] + label {
    font-size: 35px;
    cursor: pointer;
}

.menu-button-input,
.menu-button-label {
    display: none;
    color: $lightgrey;
}

.menu {
    padding-left: 0;
}

.menu-icon-btn {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: none;
    background-color: $darkgrey;
    margin-right: 5px;
    transition: 0.3s all ease-in-out;
}

.menu-item {
    list-style-type: none;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    border-top: 1px solid $border-light;
    border-bottom: 1px solid $border-dark;

    &:hover .menu-icon-btn {
        background-color: $blue;

        .fas {
            color: $white;
        }
    }

    a {
        text-decoration: none;
        color: $lightgrey;
        font-size: $font-size-s;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        transition: 0.3s all linear;
        font-weight: bold;
        width: 100%;

        &:hover {
            color: $white;
        }
    }
}

//-------------------------------

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: transparent;
    overflow-x: hidden; /* Disable horizontal scroll */
    //padding-top: 60px;
    transition: 0.5s;
}

/* The navigation menu links */
// .sidenav a {
// padding: 8px 8px 8px 32px;
// text-decoration: none;
// font-size: 25px;
// color: #818181;
// display: block;
// transition: 0.3s;
// }

/* When you mouse over the navigation links, change their color */
// .sidenav a:hover {
//   color: #f1f1f1;
// }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.side-menu-switch {
  height: 20px;
  display: flex;
}

.body-container {
  display: flex;
  flex-direction: column;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
