// Portfolio section

@import "../variables/colors";
@import "../variables/typography";

.portfolio {
  height: 90vh;
  //width: 80%;
}

.portfolio-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
}

.portfolio-item {
    background-image: url("../images/awax.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40%;
    opacity: 0.6;
    box-shadow: 0 0 15px $black;
    border-radius: 7px;
    transition: 0.4s all linear;
}

.portfolio-item {
    &:hover {
        opacity: 1;
        transform: scale(1.05);
        box-shadow: 0 0 30px $black;
    }
}

.portfolio-item-1 {
    background-image: url("../images/awax.jpg");
}

.portfolio-item-2 {
    background-image: url("../images/golden.jpg");
}
