// Skills section

@import "../variables/colors";
@import "../variables/typography";

.skills {
  height: 90vh;
  //width: 80%;
}

.skills-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 5px 5px;
    height: 73vh;
}

.skills-img {
    height: 83px;
    width: 83px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
    margin: auto;
    transition: 0.5s all linear;
}

.skills-img {
    &:hover {
        transform: scale(1.1);
        opacity: 1;
    }
}

.html-img {
    background-image: url("../images/html-5.svg");
}

.css-img {
    background-image: url("../images/css-3.svg");
}

.rwd-img {
    background-image: url("../images/rwd.png");
}

.js-img {
    background-image: url("../images/js.svg");
}

.jquery-img {
    background-image: url("../images/jquery.svg");
}

.sass-img {
    background-image: url("../images/sass.png");
}

.bootstrap-img {
    background-image: url("../images/bootstrap.png");
}

.bulma-img {
    background-image: url("../images/bulma.svg");
}

.ajax-img {
    background-image: url("../images/ajax.png");
}

.nodejs-img {
    background-image: url("../images/nodejs.png");
}

.express-img {
    background-image: url("../images/express.png");
}

.react-img {
    background-image: url("../images/react.png");
}

.redux-img {
    background-image: url("../images/redux.png");
}

.webpack-img {
    background-image: url("../images/webpack.png");
}

.git-img {
    background-image: url("../images/git.png");
}

.npm-img {
    background-image: url("../images/npm.png");
}

.babel-img {
    background-image: url("../images/babel.png");
}

.mongo-img {
    background-image: url("../images/mongo.png");
}
