// // Social section

// @import "../variables/colors";
// @import "../variables/typography";

// .fab {
//     font-size: $font-size-l;
//     transition: 0.4s all linear;
//     margin-right: 30px;
//     text-shadow: 0 0 5px $black;
//     color: $black;
//     opacity: 0.6;
//     transition: 0.4s all linear;
//     &:hover {
//         transform: scale(1.1);
//     }
// }

// .fa-facebook {
//     &:hover {
//         color: $facebook;
//     }
// }

// .fa-linkedin-in {
//     &:hover {
//         color: $linkedin;
//     }
// }

// .fa-github {
//     &:hover {
//         opacity: 1;
//     }
// }

// .social-container {
//     // display: flex;
//     // align-items: center;
//     position: fixed;
//     bottom: 30px;
//     right: 30px;
// }
