// Start section

@import "../variables/colors";
@import "../variables/typography";

// .start {
//     width: 80%;
//     height: 90vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }

// .start {
//   padding-top: 30px;
//   padding-right: 30px;
//   padding-bottom: 30px;
// }

.start-header-one,
.start-header-two,
.start-header-three {
    font-size: $font-size-xl;
}

.start-paragraph {
    font-size: $font-size-l;
    font-weight: 600;
    text-shadow: 0 0 2px $black;
}
